{% load static %}
<div class="main-box">
    <div class="container">
        <header class="nav-bar">
            <div class="basket-img" id="btnBasket">
                <img src="{% static 'img/baskett.svg' %}" alt="">
                {% if order.get_count %}
                <p class="basket-number">{{order.get_count}}</p>
                {% endif %}
            </div>
            <div class="image">
                <img src="{% static 'img/nav-img.png' %}" alt="">
            </div>
            <div  class="line"><img src="{% static 'img/nav-bar-line.svg' %}" alt=""></div>
            <div class="list">
                <ul>
                    <li {% if page.slug == 'index' %}class="active-link"{% endif %}><a href="{% url 'index' %}">Home</a></li>
                    <li {% if page.slug == 'categories' or not page.slug %}class="active-link"{% endif %}><a href="{% url 'categories' %}"> Collezioni </a></li>
                    <li {% if page.slug == 'about' %}class="active-link"{% endif %}><a href="{% url 'about_us' %}"> Chi-Siamo</a></li>
                    <li {% if page.slug == 'constructor' %}class="active-link"{% endif %}><a href="{% url 'constructor' %}">Constructor</a></li>
                    <li {% if page.slug == 'contact' %}class="active-link"{% endif %}><a href="{% url 'contact' %}">Contatti</a></li>
                </ul>
            </div>
        </header>
    </div>
 </div>