{% load static %}

<div class="bin-mobile" id="sidebarPanel">
    <div class="div-nav-side-bar">
        <a class="arrow-left-direction-a" id="btnCloseSidebar">
            <div class="arrow-left-direction">
                <img src="{% static 'img/arrow-right-direction.svg' %}" alt="">
            </div>
        </a>
        <div class="backet-side-bar">
            <a href="#"><img src="{% static 'img/baskett.svg' %}" alt=""></a>
            <a href="#" onclick="return false;"><h3>Carrello</h3></a>
        </div>
    </div>
    <div class="bin-card-container">
        <div class="bin-card-container-container">
            {% for product in order.products.all %}
            {% include 'includes/order_card.html' %}
            {% endfor %}

            {% for bracelet in order.bracelets.all %}
            {% include 'includes/order_card_bracelet.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="subtotal">
        <div class="subtotal-text">
            <p>Subtotale:</p>
        </div>
        <div class="payment-price">
            <a href="#">€{{order.get_price}}</a>
        </div>
        <a class="checkout" href="{% url 'order' %}">Vedi Carrello</a>
    </div>
</div>
<div class="overlay" id="overlay"></div>