{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
<section class="section">
    <img class="bg-container" src="{% static 'img/bg-contacts.jpg' %}" alt="">
    <section-container class="section-container">

        <div class="photo-cards">
            {% for contact in contacts %}
            <div class="photo-card" id="photo-card">
                <div class="position-img">
                    <img src="{{contact.image.url}}" alt="">
                </div>
                  {% if not forloop.counter|divisibleby:2 %}
                    <div class="photo-card-text-info">
                  {% else %}
                    <div class="photo-card-text-info-2">
                  {% endif %}

                    <div class="left-text" id="phone">
                        <p class="desc">Phone:</p>
                        <p class="desc-info">{{contact.phone_label}} <a class="phone-number" href="tel: {{contact.phone}}">{{contact.phone}}</a></p>
                    </div>
                    <div class="left-text" id="address">
                        <p class="desc">Address:</p>
                        <p class="desc-info">{{contact.address}}</p>
                    </div>
                    <div class="left-text">
                        <p class="desc">Orari di Apertura:</p>
                        <p class="desc-info">
                            {% for worktime in contact.get_worktime %}
                               {{worktime}}<br>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="left-text" id="rest">
                        <p class="desc">Riposo:</p>
                        <p class="desc-info">
                            {% for worktime in contact.get_breaktime %}
                               {{worktime}}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

           <div class="form-blocks-container">
            <div class="form-blocks">
                <div class="form-info">
                    <div class="upper-form-info">
                        <h2>{{settings.contact_form_title}}</h2>
                        <p>{{settings.contact_form_text}}</p>
                    </div>
                    <div class="down-form-info">
                        <p>our Email: <a href="mailto: {{settings.contact_email}}">{{settings.contact_email}}</a></p>
                    </div>
                </div>
                <div class="form-container">
                    <form action="{% url 'contact_request' %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="name" type="text" class="from-input" name="name" placeholder="">
                            <label for="name" class="form-label">Name</label>
                        </div>
                        <div class="form-group">
                            <input id="email" type="email" class="from-input" name="email" placeholder="">
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div id="message-form" class="form-group">
                            <input id="login" type="text" class="from-input" name="message" placeholder="">
                            <label for="login" class="form-label">Message</label>
                        </div>
                        <button type="submit" class="form-button">Send</button>
                    </form>
                </div>
            </div>
           </div>

    </section-container>
</section>
{% endblock %}
