{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
<h2 class="nav-title">Contatti</h2>

<section class="section">
    <img class="bg-container" src="{% static 'img/bg-contacts.jpg' %}" alt="">
    <div class="section-container">

        <div class="photo-cards">
            {% for contact in contacts %}
            <div class="photo-card">
                <div class="position-img">
                    <img src="{{contact.image.url}}" alt="">
                </div>
                  {% if not forloop.counter|divisibleby:2 %}
                    <div class="photo-card-text-info">
                  {% else %}
                    <div class="photo-card-text-info-2">
                  {% endif %}

                    <div class="left-text" id="phone">
                        <p class="desc">Phone:</p>
                        <p class="desc-info">{{contact.phone_label}} <a class="phone-number" href="tel: {{contact.phone}}">{{contact.phone}}</a></p>
                    </div>
                    <div class="left-text" id="address">
                        <p class="desc">Address:</p>
                        <p class="desc-info">{{contact.address}}</p>
                    </div>
                    <div class="left-text">
                        <p class="desc">Orari di Apertura:</p>
                        <p class="desc-info">
                            {% for worktime in contact.get_worktime %}
                               {{worktime}}<br>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="left-text" id="rest">
                        <p class="desc">Riposo:</p>
                        <p class="desc-info">
                            {% for worktime in contact.get_breaktime %}
                               {{worktime}}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="form-blocks-container">
            <div class="form-blocks">
                <div class="form-info">
                    <div class="upper-form-info">
                        <h2>{{settings.contact_form_title}}</h2>
                        <p>{{settings.contact_form_text}}</p>
                    </div>
                    <div class="down-form-info">
                        <p>Le nostre email: 
                            <br><a href="mailto: pacella-mauro@libero.it">pacella-mauro@libero.it</a>
                            <br><a href="mailto: pacella.mauro01@gmail.com">pacella.mauro01@gmail.com</a>
                        </p>
                    </div>
                </div>
                <div class="form-container">
                    <form action="{% url 'contact_request' %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="name" type="text" class="from-input" name="name" placeholder="Nome e Cognome" required>
                        </div>
                        <div class="form-group">
                            <input id="email" type="email" class="from-input" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input id="phone" type="text" class="from-input" name="phone" placeholder="Numero di telefono">
                        </div>
                        <div id="message-form" class="form-group">
                            <input id="login" type="text" class="from-input" name="message" placeholder="Message" required>
                        </div>
                        <button type="submit" class="form-button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
