{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
     <h2 class="carrello">Carrello</h2>
     <div class="bin">
        
            <div class="bin-card-container main">
                
                <div class="bin-card-container-container  main">
                    {% for product in order.products.all %}
                    {% include 'includes/order_card.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="payment">
                <h5>Riepilogo ordine</h5>
                <div class="-sub-total">
                    <div class="subtotal">
                        <div class="payment-price">
                            <a href="#">€{{order.get_price}}</a>
                        </div>
                    </div>
                    <div  class="line"><img src="{% static 'img/nav-bar-line.svg' %}" alt=""></div>
                    <div class="total">
                        <div class="total-text">
                            <p>Totale</p>
                            <p class="total-two">IVA inclusa</p>
                        </div>
                        <div class="payment-price">
                            <a href="#">€{{order.get_price}}</a>
                        </div>
                    </div>
                </div>
                <div class="buttons-container">
                    <form class="checkout" action=""><a  href="#">Checkout</a></form>
                   <form class="pay-pal-link" action="">
                    <a href="#"><img class="pay-pal" src="{% static 'img/paypal.svg' %}" alt=""> <p>Checkout</p></a>
                   </form>
                </div>
                <div class="input-one">
                    <form action="">
                        <input class="input-one-one" type="text" placeholder="Inserisci un codice promozionale">
                        <a class="input-btn" href="#">Apply</a>
                    </form>
                    
                </div>
                <div class="input-two">
                   <form action="">
                    <input class="input-two-two" type="text" placeholder="Aggiungi una nota">
                   </form>
                </div>
            </div>
     </div>
{% endblock %}
