{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
     <h2 class="carrello">Carrello</h2>
     <div class="bin">
        
            <div class="bin-card-container main">
                
                <div class="bin-card-container-container  main">
                    {% for product in order.products.all %}
                    {% include 'includes/order_card.html' %}
                    {% endfor %}

                    {% for bracelet in order.bracelets.all %}
                    {% include 'includes/order_card_bracelet.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="payment">
                <h5>Riepilogo ordine</h5>
                <div class="-sub-total">
                    <div class="subtotal">
                        <div class="payment-price">
                            <a href="#">€{{order.get_price}}</a>
                        </div>
                    </div>
                    <div  class="line"><img src="{% static 'img/nav-bar-line.svg' %}" alt=""></div>
                    <div class="total">
                        <div class="total-text">
                            <p>Totale</p>
                            <p class="total-two">IVA inclusa</p>
                        </div>
                        <div class="payment-price">
                            <a href="#">€{{order.get_price}}</a>
                        </div>
                    </div>
                </div>
                <div class="input-one">
                    <form action="" method="POST" id="checkoutForm">
                        {% csrf_token %}
                        <input class="input-one-one" type="text" placeholder="Indirizzo" required value="{{order.address}}" name="address">
                        <div style="height: 10px;"></div>
                        <input class="input-one-one" type="text" placeholder="Email o numero di telefono" required value="{{order.contact}}" name="contact">
                        <div style="display: flex; padding: 10px;">
                                <input type="radio" name="delivery" value="Yes" {% if order.delivery %} checked {% endif %}> Consegna per posta (€10). Spedizione in 2-5 giorni lavorativi
                        </div>
                        <div style="display: flex; padding: 10px;">
                                <input type="radio" name="delivery" value="No" {% if not order.delivery %} checked {% endif %}> Ritiro dal negozio (€0)
                        </div>
                    </form>
                </div>
                <div class="buttons-container">
                    <style>
                        input[type="image" i] {
                            height: 46px;
                            margin-top: 5px;
                        }
                    </style>
                    <form class="checkout">
                        <a id="checkoutButton">Conferma dati</a>
                    </form>
                    {% if paypal %}
                    <label for="submit_paypal" style="height: 46px; background-color: #FFC647; width: 95%; overflow: hidden; border-radius: 10px; align-items: center; justify-content: center; display: flex;">
                        {{paypal.render}}
                    </div>
                    {% endif %}
                </div>
            </div>
     </div>
{% endblock %}
