{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
<div class="constructor-container">
    <h2>Bracelet Constructor</h2>
    <div class="constructor">

    <div class="constructor-img">
        <img src="{% static 'img/braclet.png' %}" alt="">
    </div>
    <div class="constructor-cards pc">
            <div class="left-sub-text">
                <h5> Select one or more coulomb</h5>
                <div class="sub-total">
                <h5>Subtotale:</h5>
                <div class="bin-price">
                    <a href="#">€1.003,00</a>
                </div>
                </div>
            </div>
            <div class="constructor-cards-container">

                        <div id="const-card-first" class="bin-card constructor">

                            <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                            <a href="#">
                                <div class="bin-img">
                                    <img class="bin-img-img" src="static/img/medal1.jpg" alt="">
                                </div>
                            </a>
                            <div class="bin-info">
                                <div class="bin-text">
                                    <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                    <a class="bin-price" href="#">€70.00</a>
                                </div>
                            </div>
                            <div class="clickable-object">
                                <img class="checkmark" src="static/img/color-tick.svg" alt="">
                            </div>
                        </div>
                        <div class="bin-card constructor">
                            <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                            <a href="#">
                                <div class="bin-img">
                                    <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                                </div>
                            </a>
                            <div class="bin-info">
                                <div class="bin-text">
                                    <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                    <a class="bin-price" href="#">€70.00</a>
                                </div>
                            </div>
                            <div class="clickable-object">
                                <img class="checkmark" src="static/img/color-tick.svg" alt="">
                            </div>
                        </div>
                        <div class="bin-card constructor">
                            <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                            <a href="#">
                                <div class="bin-img">
                                    <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                                </div>
                            </a>
                            <div class="bin-info">
                                <div class="bin-text">
                                    <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                    <a class="bin-price" href="#">€70.00</a>
                                </div>
                            </div>
                            <div class="clickable-object">
                                <img class="checkmark" src="static/img/color-tick.svg" alt="">
                            </div>
                        </div>
                        <div class="bin-card constructor">
                            <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                            <a href="#">
                                <div class="bin-img">
                                    <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                                </div>
                            </a>
                            <div class="bin-info">
                                <div class="bin-text">
                                    <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                    <a class="bin-price" href="#">€70.00</a>
                                </div>
                            </div>
                            <div class="clickable-object">
                                <img class="checkmark" src="static/img/color-tick.svg" alt="">
                            </div>
                        </div>
                        <div class="bin-card constructor">
                            <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                            <a href="#">
                                <div class="bin-img">
                                    <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                                </div>
                            </a>
                            <div class="bin-info">
                                <div class="bin-text">
                                    <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                    <a class="bin-price" href="#">€70.00</a>
                                </div>
                            </div>
                            <div class="clickable-object">
                                <img class="checkmark" src="static/img/color-tick.svg" alt="">
                            </div>
                        </div>
                        <div class="bin-card constructor">
                            <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                            <a href="#">
                                <div class="bin-img">
                                    <img class="bin-img-img" src="static/img/collection-crown.jpg" alt="">
                                </div>
                            </a>
                            <div class="bin-info">
                                <div class="bin-text">
                                    <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                    <a class="bin-price" href="#">€70.00</a>
                                </div>
                            </div>
                            <div class="clickable-object">
                                <img class="checkmark" src="static/img/color-tick.svg" alt="">
                            </div>
                        </div>
                </div>
                <a href="#" class="buy-now pc">Buy Now</a>
            </div>

    <div class="constructor-cards mobile">
        <div class="left-sub-text">
            <h5> Select one or more coulomb</h5>
        </div>
        <div class="constructor-cards-container">

                    <div id="const-card-first" class="bin-card constructor">

                        <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                        <a href="#">
                            <div class="bin-img">
                                <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                            </div>
                        </a>
                        <div class="bin-info">
                            <div class="bin-text">
                                <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                <a class="bin-price" href="#">€70.00</a>
                            </div>
                        </div>
                        <div class="clickable-object">
                            <img class="checkmark" src="static/img/color-tick.svg" alt="">
                        </div>
                    </div>
                    <div class="bin-card constructor">
                        <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                        <a href="#">
                            <div class="bin-img">
                                <img class="bin-img-img" src="static/img/medal1.jpg" alt="">
                            </div>
                        </a>
                        <div class="bin-info">
                            <div class="bin-text">
                                <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                <a class="bin-price" href="#">€70.00</a>
                            </div>
                        </div>
                        <div class="clickable-object">
                            <img class="checkmark" src="static/img/color-tick.svg" alt="">
                        </div>
                    </div>
                    <div class="bin-card constructor">
                        <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                        <a href="#">
                            <div class="bin-img">
                                <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                            </div>
                        </a>
                        <div class="bin-info">
                            <div class="bin-text">
                                <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                <a class="bin-price" href="#">€70.00</a>
                            </div>
                        </div>
                        <div class="clickable-object">
                            <img class="checkmark" src="static/img/color-tick.svg" alt="">
                        </div>
                    </div>
                    <div class="bin-card constructor">
                        <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                        <a href="#">
                            <div class="bin-img">
                                <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                            </div>
                        </a>
                        <div class="bin-info">
                            <div class="bin-text">
                                <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                <a class="bin-price" href="#">€70.00</a>
                            </div>
                        </div>
                        <div class="clickable-object">
                            <img class="checkmark" src="static/img/color-tick.svg" alt="">
                        </div>
                    </div>
                    <div class="bin-card constructor">
                        <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                        <a href="#">
                            <div class="bin-img">
                                <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                            </div>
                        </a>
                        <div class="bin-info">
                            <div class="bin-text">
                                <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                <a class="bin-price" href="#">€70.00</a>
                            </div>
                        </div>
                        <div class="clickable-object">
                            <img class="checkmark" src="static/img/color-tick.svg" alt="">
                        </div>
                    </div>
                    <div class="bin-card constructor">
                        <a class="bin-cross" href="#"><img  src="static/img/bin-cross.svg" alt=""></a>
                        <a href="#">
                            <div class="bin-img">
                                <img class="bin-img-img" src="static/img/silver-jewerly.png" alt="">
                            </div>
                        </a>
                        <div class="bin-info">
                            <div class="bin-text">
                                <a href="#"><p>Florentosa con </p><p class="text-link">Rodiato e Rosé con Perle</p></a>
                                <a class="bin-price" href="#">€70.00</a>
                            </div>
                        </div>
                        <div class="clickable-object">
                            <img class="checkmark" src="static/img/color-tick.svg" alt="">
                        </div>
                    </div>
                    <div class="left-sub-text">

                        <h5>Subtotale:</h5>
                        <div class="bin-price">
                            <a href="#">€1.003,00</a>
                        </div>
                        </div>
                    </div>
            </div>
            <a href="#" class="buy-now mobile">Buy Now</a>
        </div>

   </div>
</div>
{% endblock %}
