{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
<h2 class="nav-title">{{category.name}}</h2>

<div class="selection-cards" style="min-height: 50vh;">
    <img class="bg-container" src="{% static 'img/bg-contacts.jpg' %}" alt="">
    {% for product in page %}
    <div class="selection-card">
        <div class="selection-img collection">
            <a href="{% url 'product' slug=product.slug %}"><img src="{{product.preview.url}}" alt=""></a>
        </div>
        <div class="selection-info">
            <div class="selection-text">
                <a href="{% url 'product' slug=product.slug %}"><p>{{product.get_name}}</p></a>
            </div>
            <div class="selection-btn-price">
                <a class="buy-now-btn" href="{% url 'product' slug=product.slug %}">Buy Now</a>
                <a class="selection-price" href="{% url 'product' slug=product.slug %}">€{{product.price}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="selection-cards-mobile" style="min-height: 50vh;">
    <img class="bg-container" src="{% static 'img/bg-contacts.jpg' %}" alt="">
    {% for product in page %}
    <div class="selection-card">
        <div class="selection-img collection">
            <img src="{{product.preview.url}}" alt="">
        </div>
        <div class="selection-info">
            <div class="selection-text">
                <a href="{% url 'product' slug=product.slug %}"><p>{{product.get_name}}</p></a>
            </div>
            <div class="selection-btn-price">
                <a class="buy-now-btn" href="{% url 'product' slug=product.slug %}">Buy Now</a>
                <a class="selection-price" href="{{product.price}}">€{{product.price}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="number-icons">
    {% if page.has_previous %}
        <a class="arrow-left-direction-a" href="?page={{page.previous_page_number}}">
            <div class="arrow-left-direction">
                <img src="{% static 'img/arrow-left-direction.svg' %}" alt="">
            </div>
        </a>
    {% else %}
        <a class="arrow-left-direction-a" href="#" style="opacity: 0;">
            <div class="arrow-left-direction">
                <img src="{% static 'img/arrow-left-direction.svg' %}" alt="">
            </div>
        </a>
    {% endif %}
    <ul class="breadcrumbs">
        {% if page.has_previous %}
            <a href="?page=1">
                <li class="breadcrumb">1</li>
            </a>
        {% endif %}

        {% if page.has_next or page.has_previous %}
            {% for num in page.paginator.page_range %}
                {% if page.number == num %}
                <a href="#">
                    <li class="breadcrumb active">{{num}}</li>
                </a>
                {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
                    {% if num == 1 or num == page.paginator.num_pages %}
                    {% else %}
                    <a href="?page={{num}}">
                        <li class="breadcrumb">{{num}}</li>
                    </a>
                    {% endif %}
                {% elif num|add:'-1' == 1 or num|add:'1' == page.paginator.num_pages %}
                <a>
                    <li class="breadcrumb">...</li>
                </a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if page.has_next %}
            <a href="?page={{page.paginator.num_pages}}">
                <li class="breadcrumb">{{page.paginator.num_pages}}</li>
            </a>
        {% endif %}
    </ul>
    {% if page.has_next %}
        <a class="arrow-right-direction-a" href="?page={{page.next_page_number}}">
            <div class="arrow-right-direction">
                <img src="{% static 'img/arrow-right-direction.svg' %}" alt="">
            </div>
        </a>
    {% else %}
        <a class="arrow-right-direction-a" href="#" style="opacity: 0;">
            <div class="arrow-right-direction">
                <img src="{% static 'img/arrow-right-direction.svg' %}" alt="">
            </div>
        </a>
    {% endif %}
</div>
{% endblock %}
