{% extends 'includes/base.html' %}
{% load static %}

{% block 'content' %}
<div class="settings-card">
    <div class="setting-container">
        <div class="setting-left">
            <div class="big-image-container">
                <div class="setting-text">
                    <a class="setting-link-home" href="{% url 'index' %}">Home </a>
                    <p> / {{product.name}}</p>
                </div>

                <img id="largeImage" src="{{product.preview.url}}" alt="Large Image">
            </div>
            <div class="thumbnail-container">
                <img class="thumbnail" src="{{product.preview.url}}" alt="" data-large-src="{{product.preview.url}}">
                {% for image in images %}
                <img class="thumbnail" src="{{image.image.url}}" alt="" data-large-src="{{image.image.url}}">
                {% endfor %}
            </div>
        </div>
        <div class="setting-right">
            <img class="setting-border-line" src="{% static 'img/right-setting-line.svg' %}" alt="">
            <div class="color-container">
                {% for material in materials %}
                <a href="{% url 'product' slug=product.slug %}?material={{material.id}}">
                    <p id="{{material.name}}-material" class="setting-right-color material {% if chosen_material == material %}with-border checked{% endif %}" style="background-color: {{material.color}};">
                        <img class="color-tick" src="{% static 'img/color-tick.svg' %}" alt="Toggle Button">
                    </p>
                </a>
                {% endfor %}
                <p class="choose-metal">choose metal</p>
            </div>
            <h3 class="right-settings-title">{{product.name}}</h3>
            <div class="right-settings-text">
                <p>{{product.description}}</p>
            </div>
            <div class="settings-price">
                <a href="#">€{{product.price}}</a>
            </div>
            {% if product.quantity %}
            <div class="settings-amount">
                <form action="{% url 'order_edit' %}" method="GET">
                    <div class="container-amount">
                        <div class="minus-plus">
                            <button id="decrement" class="decrementProduct" href="#">-</button>
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <input type="text" id="numberInput" name='quantity' value=1 min="1" max="{{product.quantity}}" readonly required>
                            <button id="increment" class="incrementProduct" href="#">+</button>
                        </div>
                        <p class="text-minus-plus">quantità</p>
                    </div>
                    {% if product.is_ring %}
                    <div class="container-amount">
                        <label for="ringSize">Seleziona la misura:</label>
                        <select id="ringSize" name="ring_size" required>
                            <option value="" disabled selected>Seleziona</option>
                            {% for size in ring_sizes %}
                                <option value="{{ size }}">{{ size }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <button type="submit" class="buy-now">Buy Now</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="navigation-links">
            <a href="#"> &#10094;</a>
            <a href="#">Indietro</a>

            <a href="#">Avanti</a>
            <a href="#">&#10095;</a>
        </div>
    </div>
</div>
{% endblock %}
