{% load static %}

<div class="bin-card" data-product="{{product.product.id}}" data-bracelet="" on-edit="{% url 'order_edit' %}">
    <a class="bin-cross" href="{% url 'order_delete' %}?product_id={{product.product.id}}"><img  src="{% static 'img/bin-cross.svg' %}" alt=""></a>
    <a href="{% url 'product' slug=product.product.slug %}">
        <div class="bin-img">
            <img class="bin-img-img" src="{{product.product.preview.url}}" alt="">
        </div>
    </a>
    <div class="bin-info">
        <div class="bin-text">
            <p class="text-link" style="max-width: 150px;">{{product.product.name}}</p></a>
            <a class="bin-price" href="{% url 'product' slug=product.product.slug %}">€{{product.get_price}}</a>
        </div>
        <div class="settings-amount bin">
            <div class="minus-plus">
                <button class="decrement">-</button>
                <input type="number" class="numberInput" value="{{product.quantity}}" min="0" readonly>
                <button class="increment">+</button>
            </div>
        </div>
    </div>
</div>